12-04-2024-Convertendo-audio-Api-Evolution-com-N8N-Transcrever-seus-audios-em-texto/Convertendo-audio-Api-Evolution-com-N8N-Transcrever-seus-audios-em-texto.json
{
  "name": "Tratamento Message WhatsApp copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "id": "f822d51d-5761-4aa1-9a2d-c3abd0315a8b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1520,
        -660
      ],
      "webhookId": "68d80c81-9a9d-469d-9338-a6960bab77c1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://urldasuainstanciaevolution",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "bc0c02c4-e37b-4691-91f9-3051c85819e7",
      "name": "Document - HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -900,
        -260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0qeTnqPrGTB5pHF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "7af3ff7b-804f-44dd-a2c1-8a4bf20f48ef",
      "name": "Image Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -680,
        -700
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "0899c701-46f0-4d4f-9232-a05698b7bf62",
      "name": "Audio Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -680,
        -500
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "6bf17317-4d96-4dc9-a00a-d3d76de710ae",
      "name": "Document Convert to File ",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -680,
        -260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a22b706d-6feb-4cb8-894b-c0336dcd6b41",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -900,
        -880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://urdasuainstanciaevolution",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "4bc615d9-724a-451c-b08b-3e3569025ad9",
      "name": "Imagem - HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -900,
        -700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0qeTnqPrGTB5pHF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://urldasuainstanciaevolution",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "d93b46d4-401a-4ed5-b2ff-8a280a9b6775",
      "name": "Audio - HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -900,
        -500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0qeTnqPrGTB5pHF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4b510199-9ed7-4fe2-86fb-0fe2d9917828",
                    "leftValue": "={{ $json.body.data.message.extendedTextMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "textMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "79559a73-2f3e-4cb8-aaf2-3b4ea35faf42",
                    "leftValue": "={{ $json.body.data.message.imageMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $json.body.data.message.audioMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b68e8342-869f-47d5-834d-2f5786e05b3b",
                    "leftValue": "={{ $json.body.data.message.documentMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "18fd1e5d-41c4-4835-a4b4-a6965d7be7ca",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1240,
        -660
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "247059c1-5143-420c-9269-28a7e6a84bbc",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.1,
      "position": [
        -460,
        -500
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document - HTTP Request": {
      "main": [
        [
          {
            "node": "Document Convert to File ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagem - HTTP Request1": {
      "main": [
        [
          {
            "node": "Image Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio - HTTP Request": {
      "main": [
        [
          {
            "node": "Audio Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Imagem - HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio - HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc66df7b-5240-49d4-9662-b93b1044becb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0052f4072e7e0b7c66c380dae18689906f597fa0ce44ba1e371411705ee9e221"
  },
  "id": "Za17oICT2fOkIbDl",
  "tags": []
}